body {
    background-color: #e2dcff;
    text-align: center;
}

.hero {
    font-family: 'Jost', sans-serif;
    width: 500px;
}

.topic {
    margin-top: 30px;
    font-size: 15px;
    color:#7d5fff;
}

.hero_headline {
    font-size: 30px;
    color: #3d3269;
}

.date {
    color: #3d3269
}

.row {
    border-top: dotted 2px #7d5fff;
    width: 600px;
}