body {
  font: 1.2em Helvetica, aria, sans-serif;
  margin: 0 3%;
}

h1 {
  font-size: 1.8em;
  margin: 0.9em 0 0 0;
}

h2 {
  font-size: 1.5em;
  margin: 1.5em 0 0 0;
}

img {
  max-width: 100%;
}

figure {
  background: black;
  border-radius: 5px;
  color: white;
  margin: 25px 0;
  padding: 10px;
  text-align: center;
}

figcaption {
  font-size: 0.8em;
}

@media (min-width: 820px) {
  body {
    background-color:rgb(194, 133, 193);
    margin-left: 10%;
    margin-right: 10%;
  }

  figure {
    float: left;
    width: 40%;
    margin: 10px
  }
}

@media (min-width: 1020px) {
  body {
    background-color:rgb(27, 200, 192);
    margin-left: 10%;
    margin-right: 10%;
  }

  figure {
    float: left;
    width: 25%;
    margin: 10px
  }
}