
body {
    background-color: #651780;
    color: #EE82EE;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

section {
    padding: 80px;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    text-transform: capitalize;
}

p {
    max-width: 589px;
    margin-top: 16px;
    margin-bottom: 36px;
}

.buttons {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
}

#btn-1 {
    color: #651780;
    font-weight: medium;
    border: 2px solid #EE82EE;
    border-radius: 8px;
    background-color: #EE82EE;
    padding: 10px 16px 10px 16px;
    margin-right: 35px
}

#btn-2 {
    color: #EE82EE;
    font-weight: medium;
    border: 2px solid #EE82EE;
    border-radius: 8px;
    background-color: transparent;
    padding: 10px 16px 10px 16px;
}

img {
    width: 465px;
}