* {
    background-color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    color:black;
    font-size: 16px;
    font-weight: medium;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navigation {
    background-color:#FFFFFF ;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    padding: 36px 16px 36px 16px;
    align-items: center;
    justify-content: right;
}

.button {
    color: #FFFFFF;
    background-color: #FB9300;
    padding: 10px 16px 10px 16px;
    border-radius: 100px;
    border: none;
}

a:hover {
    color:#FB9300
}

a {
    padding-right: 52px;
    text-decoration: none;
    margin-right: 10px;
}

img {
    width: 130px;
}

.pic {
    display: flex;
    align-items: center;
}